<p>
  <strong>Subject:</strong>
  <%= @task.subject %>
</p>

<p>
  <strong>Assigne:</strong>
  <%= @task.assignee %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @task.created_by %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>

<h3>Comments</h3>
<p>
  <strong>Add a comment:</strong>
  <%= render 'comments/comment_form', task: @task, comment: @comment %>
</p>

<ul>
  <%= render(partial: 'comments/comment', collection: @task.comments, task: @task) %>
</ul>
